<h1>New post</h1>
<form method="post" action="#S">
  <label>Title</label>
  <input type="text" id="postTitle"/><br>
  <label>Content</label>
  <input type="text" id="postContent"/><br>
  <input type="submit" id="submit" value="Create"/>
</form>