<h1>Show Page</h1>
<table>
  <tr>
    <thead>Name</thead>
    <thead>Age</thead>
    <thead>Country</thead>
  </tr>
  <tr>
    <td>
      <%- @myObj.name %>
    </td>
    <td>
      <%- @myObj.age %>
    </td>
    <td>
      <%- @myObj.country %>
    </td>
  </tr>
</table>