<h1>Show Page</h1>
<table style="border: 1px solid black">
  <tr >
    <td>Name</td>
    <td>Age</td>
    <td>Country</td>
  </tr>
  <% @arrObj.each_index do |i| %>
    <tr>
      <td>
        <%= @arrObj[i]["name"] %>
      </td>
      <td>
        <%= @arrObj[i]["age"] %>
      </td>
      <td>
        <%= @arrObj[i]["country"] %>
      </td>
    </tr>
  <% end %>

</table>